!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title= content_for(:title) || 'Rails Api'
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/
    %meta{ content: 'yes', name: 'apple-mobile-web-app-capable' }/
    %meta{ content: 'yes', name: 'mobile-web-app-capable' }/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{ href: '/icon.png', rel: 'icon', type: 'image/png' }/
    %link{ href: '/icon.svg', rel: 'icon', type: 'image/svg+xml' }/
    %link{ href: '/icon.png', rel: 'apple-touch-icon' }/
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    %link{ crossorigin: '', href: 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.css', integrity: 'sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=', rel: 'stylesheet' }/
    %script{ crossorigin: '', integrity: 'sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=', src: 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.js' }
    = javascript_importmap_tags
  %body
    = yield
